.question{
  margin-bottom: 40px;
  padding: 20px 0 ;
  background: #29b0cc;

  &__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title{
    @include text(600, 24px, 150%, #173261);
  }
  &__btn{
    border: 2px solid #F1F1F1;
    border-radius: 4px;
    padding: 7px 20px;
    @include text(600, 16px, 150%, #173261);
    cursor: pointer;
    margin-top: 20px;
    &:hover{
      padding: 7px 20px;
      border-radius: 4px;
    }
  }

}